html
  head
    title!= title
    link(rel="stylesheet", href="/components/bootstrap/dist/css/bootstrap.min.css")
    link(rel="stylesheet", href="/css/custom.css")
  body.vertical-center
    .container
      .row
        .col-md-6.col-md-offset-3.col-sm-6.col-sm-offset-3
          p.center-text #{message}
      
                
